<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>portifolio</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

        body, html{
            width: 100vw;
            min-height: 100vh;
        }

        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a{
            display: block;
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            color: black;

        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>